<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>

		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<form class="form-inline form-entrar" action="/autenticar" method="post">
					<div class="form-group">
						<input type="text" id="login" name="login" value="<%=usuario.login%>" placeholder="Login" class="form-control" autocomplete="off" />
						<input type="password" id="senha" name="senha" value="<%=usuario.senha%>" placeholder="Senha" class="form-control" />
						<button type="submit" class="btn btn-success">Entrar</button>
						<a href="/cadastrar" class="btn btn-info">Cadastro</a>

					</div>
				</form>
				<% if(errors.length > 0){%>
					<div class="alert alert-danger">
						<ul>
							<% for(var i = 0; i < errors.length; i++){%>
								<li><%=errors[i].msg%></li>
							<%}%>
						</ul>
					</div>
				<%}%>
			</div>

		</nav>

	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-2"></div>

	    		<div class="col-md-8">
					<img src="images/game_of_thrones_logo.jpg" />
				</div>

	    		<div class="col-md-2"></div>
		    	</div>
	    	</div>
	    </div>

	</body>
</html>
